.manual{
	box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
    padding: 10px;
    margin:20px auto;
}

.twitter{
	box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
    padding: 10px;
    margin:20px auto;
}

.instagram{
	box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
    padding: 10px;
    margin:20px auto;
}